<template>
  <section class="container">
    <div>
      <logo/>
      <h1 class="title">
		<div v-for="(item, index) in data" :key="index">
			{{item}}
		</div>
      </h1>
      <h2 class="subtitle">
        My kickass Nuxt.js project
      </h2>
      <div class="links">
        <a href="https://nuxtjs.org/" target="_blank" class="button--green">Documentation</a>
        <a href="https://github.com/nuxt/nuxt.js" target="_blank" class="button--grey">GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  data () {
    return {
      data: 'no'
    }
  },
  mounted() {
	  const { request } = require('graphql-request')

		const query = `{
		Movie(title: "Inception") {
			releaseDate
			actors {
			name
			}
		}
		}`
		
		let vm = this
		let data = ''
		request('https://api.graph.cool/simple/v1/movies', query).then(res => {
		vm.data = res
		data = res
		console.log(vm.data)
		})
  },
  components: {
    Logo
  }
}
</script>

<style>
.container
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title
{
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}
.subtitle
{
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links
{
  padding-top: 15px;
}
</style>
